body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif
}

/* Style for the sidebar container */
.wd-kn {
  background-color: black;
  width: 85px;
  /* Set the width of the sidebar */
  font-size: .8em;
  text-align: center;
  height: 100vh;
}

/* Style for each item in the sidebar */
.wd-kn .list-group-item {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  border: 0;
}

/* Style for the active item */
.wd-kn .list-group-item.active {
  background-color: white;
  color: red;
}

.wd-kn .list-group-item.active .custom-icon-white{
  background-color: white;
  color: black;
}

/* Style for the icon inside each item */
.custom-icon {
  color: red;
  font-size: 1.5em;
}
.custom-icon-white {
  color: white;
  font-size: 1.75em;
}

.wd-dashboard .list-group-item {
  margin-top: 36px;
  margin-left: 36px;
  width: 325px;
  padding: 0px;
}

.wd-cn .list-group-item{
  background-color: white;
  color: red;
  text-align: left;
  padding: Opx;
  width: 140px;
  margin: Opx;
  margin-left: 20px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wd-cn .list-group-item.active {
  padding-left: 5px;
  border-left: 1px solid black;
  color: black;
  background-color: white;
  margin-top: 10px;
}

.wd-course-module .list-group-item{
  margin-top: 40px;
  padding: 0;
}
.wd-course-module .list-group-item p{
  padding-left: 20px;
  margin-bottom: 10px;
}

.wd-course-module-header {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: whitesmoke;
}

.wd-main-content {
  width: 60%;
}

.wd-sidebar {
  width: 15%;
}